<{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width:300px">
                    <img class="card-img-top" src="https://image3.mouthshut.com/images/imagesp/925874438s.png"
                         alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">HDFC Money Back</h4>
                        <p class="card-text">Card No:4545 4545 4545 4545</p>
                        <p class="card-text">Card Pin:</p>
                        <p class="card-text">CVV:569</p>
                        <p class="card-text">Expiry Date45-41-2015</p>
                        <a href="#" class="btn btn-primary">Modify</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width:300px">
                    <img class="card-img-bottom" src="https://image3.mouthshut.com/images/imagesp/925874438s.png"
                         alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Standred Charted</h4>
                        <p class="card-text">Platinum cards</p>
                        <p class="card-text">Card No:4545 4545 4545 4545</p>
                        <p class="card-text">Card Pin:</p>
                        <p class="card-text">CVV:569</p>
                        <p class="card-text">Expiry Date45-41-2015</p>
                        <a href="#" class="btn btn-primary">modify</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
