{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width:300px">
                    <img class="card-img-top"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6jDrTu1QTl9avgga-8aBM-t-mKuCQ2IyLVa6QLg1QI-v9Z6HzXw"
                         alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Name :abc</h4>
                        <p class="card-text">age password:</p>
                        <p class="card-text">Relation email:</p>
                        <p class="card-text">DOB</p>
                        <p class="card-text">Gender</p>
                        <a href="#" class="btn btn-primary">Modify</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width:300px">
                    <img class="card-img-bottom"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6jDrTu1QTl9avgga-8aBM-t-mKuCQ2IyLVa6QLg1QI-v9Z6HzXw"
                         alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Name :abc</h4>
                        <p class="card-text">age password:</p>
                        <p class="card-text">Relation email:</p>
                        <p class="card-text">DOB</p>
                        <p class="card-text">Gender</p>
                        <a href="#" class="btn btn-primary">modify</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

