{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width:300px">
                    <img class="card-img-top"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZkOsIb19a3_eIjfaaYwYg0IXm_XJkZEhZE95PgzhLyeV9mCehAA"
                         alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Login username :abc</h4>
                        <p class="card-text">Login password:</p>
                        <p class="card-text">Registerd email:</p>
                        <p class="card-text">Registerd Mobile No</p>
                        <p class="card-text">Security Questions</p>
                        <p class="card-text">Security Answer</p>
                        <a href="#" class="btn btn-primary">Modify</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width:300px">
                    <img class="card-img-bottom"
                         src="https://images.idgesg.net/images/article/2018/04/google-gmail-logo-100755954-large.3x2.jpg"
                         alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Login username :abc</h4>
                        <p class="card-text">Login password:</p>
                        <p class="card-text">Registerd email:</p>
                        <p class="card-text">Registerd Mobile No</p>
                        <p class="card-text">Security Questions</p>
                        <p class="card-text">Security Answer</p>
                        <a href="#" class="btn btn-primary">modify</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

